@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@1,300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Space Grotesk", sans-serif;
}
audio {
  height: 35px;
}
audio::-webkit-media-controls-panel {
  background-color: white;
  height: 35px;
}

audio::-webkit-media-controls-current-time-display {
  /* color: #fff; */
  font-weight: 600;
}
audio::-webkit-media-controls-time-remaining-display {
  /* color: #fff; */
  font-weight: 600;
}
